<form (ngSubmit)="onLogin()">
  <div class="field">
    <div class="label">Email</div>
    <input name="email" type="email" />
  </div>

  <div class="field">
    <div class="label">Password</div>
    <input name="password" type="password" />
  </div>

  <button id="submit" type="submit">Login</button>

  <div class="hints">
    No account yet? You can
    <a routerLink="/register">create one here</a>.
  </div>
</form>
