:host {
  display: flex;
  flex-direction: column;

  height: 100%;

  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;

  min-width: 40%;
}

.field {
  margin-bottom: 1em;
}

.label {
  margin-bottom: 0.5em;
}

#submit {
  margin-top: 1em;
}

a {
  text-decoration: underline;
}

.hints {
  text-align: center;
  margin-top: 4em;
}

.error {
  color: red;
}
