<form (ngSubmit)="onSignup()">
  <div class="field">
    <div class="label">Email</div>
    <input name="email" type="email" />
  </div>

  <div class="field">
    <div class="label">Password</div>
    <input name="password" type="password" />
  </div>

  <button id="submit" type="submit">Create account</button>

  <div *ngIf="error; else noError" class="error">{{ error }}</div>
  <ng-template #noError>
    <div class="error">&nbsp;</div>
  </ng-template>
</form>
