@import "../styles/variables.scss";

:host {
  height: 100%;

  display: flex;
  flex-direction: column;
}

header {
  flex-shrink: 0;

  background-color: $dark-orange;
  //padding: 6px;
  padding: 1em;
  border-bottom: 2px solid $black;

  font-size: 16px;
}

.content {
  flex-grow: 1;
  overflow: auto;

  //padding: 6px;
  padding: 1em;

  background-color: $background;
  color: $black;
}

footer {
  flex-shrink: 0;

  background-color: $light-orange;
  border-top: 2px solid $black;
  //padding: 6px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;

  text-align: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-container .left {
  //background-color: red;
}

.header-container .right {
  //background-color: green;
}
