<header>
  <div class="header-container">
    <div class="left">
      <a routerLink="/"><b>Zen Linux</b></a> |
      <a routerLink="/downloads">Downloads</a> |
      <a routerLink="/packages">Packages</a> |
      <a routerLink="/repositories">Repositories</a> |
      <a routerLink="/about">About</a>
    </div>
    <div class="right">
      <a routerLink="/login">Login</a>
    </div>
  </div>
</header>

<zen-nav></zen-nav>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer><b>&nbsp;</b></footer>
