<pre>
     ______            _      _                  
    |___  /           | |    (_)                 
       / / ___ _ __   | |     _ _ __  _   ___  __
      / / / _ \ '_ \  | |    | | '_ \| | | \ \/ /
     / /_|  __/ | | | | |____| | | | | |_| |>  < 
    /_____\___|_| |_| |______|_|_| |_|\__,_/_/\_\


</pre>
<br />
<p>Rolling release Linux distribution (glibc based)</p>
<p>Uses the super fast pacman package manager from Arch Linux</p>
<p>All packages are custom built and hosted in own repositories</p>
<p>Because systemd is not zen like, it was replaced with dinit</p>
<p>Zen desktop: sway, waybar, foot terminal, pipewire</p>
<p>Dev tools included: vscode, node, rust, python</p>
