/* You can add global styles to this file, and also import other style files */

@import "styles/variables.scss";

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  font-family: $default-font;
  font-size: 14px;

  margin: 0;
  padding: 0;

  color: $black;
}

a {
  color: $black;
  text-decoration: none;
}

button {
  background-color: $light-orange;

  border: 2px solid $black;
  color: $black;
  //padding: 15px 32px;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;

  cursor: pointer;
}

button:hover {
  background-color: $dark-orange;
}

button:active {
  background-color: $dark-orange;
}

input {
  font-family: $default-font;
  background-color: white;
  border: 2px solid $black;

  padding: 0.5em;
  width: 100%;
}
