@import "../../../styles/variables.scss";

.breadcrumbs {
  flex-shrink: 0;

  //background-color: lightgreen;
  background-color: #ffc558;
  //padding: 6px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 2px solid $black;

  text-align: center;

  font-weight: bold;
}
